* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "poppins", "Arial", sans-serif;
}

/*aside (menu)*/
/*/aside (menu)*/
/*logo*/
/*/logo*/
/*nav*/
/*/nav*/
/*input toggle*/
/*/toggle*/
/*search-icon*/
/*/search-icon*/
/*title-content*/
/*/title-content*/
/*services*/
/*/services*/
/*feedback*/
/*/feedback*/
/*blog*/
/*/blog*/
/*footer*/
/*/footer*/
/*media*/
/*/media*/