// buttons
.button-hover:hover, .services .button-hover:hover {
	background-color: #64CDD2;
	border: 1px solid #000;
}

.button-left {
	position: relative;
	font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #4cb480;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 2.8;
	border: 0;
	margin-left: -1px;
}

.button-blog {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	width: 174px;
	height: 55px;
	border-radius: 28px;
    background-color: #4cb480;
	color: #FFF;
	border: 0;
	top: 13px;
    left: 41px;
}
// /buttons