// buttons
.button-hover:hover, .services .button-hover:hover {
	color: #000000;
	background-color: #20B2AA;
}

.button-left {
	position: relative;
	font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #4cb480;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 2.8;
	border: 0;
}
// /buttons