// buttons
@keyframes funny-btn {
	0% {background-color: #353a3f;}
	25% {background-color: #4cb480;}
	50% {background-color: #4cb480;}
	100% {background-color: #353a3f;}
}

.button-hover {
	animation-name: funny-btn;
	animation: funny-btn 8s infinite linear;
}

.button-hover:hover, .services .button-hover:hover {
	border: 3px solid rgb(124, 124, 124);
}

.button-left {
	position: relative;
	font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #4cb480;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 2.8;
	border: 0;
	margin-left: -1px;
}

.button-blog {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	width: 174px;
	height: 55px;
	border-radius: 28px;
    background-color: #4cb480;
	color: #FFF;
	border: 0;
	top: 13px;
    left: 41px;
}
// /buttons