// title-content
.title-content {
    > h1 {
        position: relative;
        text-transform: uppercase;
        font-size: 62px;
        letter-spacing: 4px;
        font-weight: bold;
        margin-bottom: -7px;
    }
    > h3 {
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 1.93px;
        margin-bottom: 0;
    }
    > p {
        font-size: 18px;
        letter-spacing: 0.3px;
        margin-top: 12px;
        margin-bottom: 54px;
        line-height: 1.636;
    }
    h1:before {
        background-color: #4cb480;
        content: "";
        position: absolute;
        top: -10px;
        left: -2px;
        height: 4px;
        width: 60px;
        border-radius: 2px;
    }
}