extends layout

block content
    .container
        .row
            .col
                h1 Login page
                form#login-form
                    .form-group
                        label(for='title') Title
                        input#username.form-control(type='text' name='title')
                    .form-group
                        label(for='subtitle') Subtitle
                        input#password.form-control(type='text' name='subtitle')
                    .form-group
                        label(for='description') Description
                        input#password.form-control(type='textary' name='description')
                    .form-group
                        button#login-btn.btn.btn-primary save