extends layout

block content
    nav.navbar.navbar-light.bg-light
        .container
            button#cart.btn.btn-primary
            | Cart
            span#badge.badge.bg-danger 0

    .glide.products
        .glide__track(data-glide-el="track")
            ul.glide__slides
                each item in items
                    li.glide__slide
                        .card.product-item
                            img.card-img-top(src=`${item.image}` width="200px" height="200px")
                            .card-body
                                h5.card-title= item.name
                                p.card-text
                                | Price: #{item.price}
                                button(data-id=`${item.id}`).btn.btn-primary Add to cart
        .glide__bullets(data-glide-el="controls[nav]")
            .glide__bullet(data-glide-dir="=0")
            .glide__bullet(data-glide-dir="=1")
            .glide__bullet(data-glide-dir="=2")