// aside
.aside {
    width: 150px;
    height: 100%;
    background-color: #282d32;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    @media (max-width: 640px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: relative;
            padding: 10px 20px;
            height: 70px;
    }
}
// /aside asdasd

// logo
.logo {
    text-align: center;
    position: relative;
	>p {
		font-size: 32px;
		color: #4cb480;
		text-transform: uppercase;
		font-family: "sawarabi_gothicregular";
		padding-top: 5px;
	}
	>p:after {
		display: block;
		content: "";
		width: 26px;
		height: 5px;
		background: #4cb480;
		position: absolute;
		bottom: -12px;
		left: 51%;
		transform: translateX(-50%);
    }
    @media (max-width: 640px) {
        >p:after {
            bottom: 25px;
        }
        >p {
            padding: 0;
        }
    }
}
// /logo

// nav
.nav {
    position: relative;
    opacity: 0.5;
    @media (max-width: 640px) {
        position: static;
        order: 3;
        opacity: 1;
    }
    ul {
        list-style: none;
        text-align: center;
        padding: 0px;
        line-height: 36px;
        letter-spacing: 1px;
        margin-top: 41px;
        @media (max-width: 640px) {
                position: absolute;
                background-color: #282d32;
                width: 100%;
                left: 0;
                z-index: 1;
        }
        li{
            margin-bottom: 15px;
            a {
                color: white;
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                @media (max-width: 640px) {
                    opacity: 0.5;
                }
            }
        }
    }
    ::before, ::after {
        display: block;
        content: "";
        width: 90px;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 34px;
        left: 51%;
        transform: translateX(-50%);
        @media (max-width: 640px) {
            display: none;
        }
    }
    ::after {
            top: auto;
            bottom: -41px;
    }
    svg {
        fill: #FFF;
        width: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 640px) {
            display: inline-block;
            opacity: 0.5;
        }
    }
}


// /nav

// input toggle
.toggle {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
    &:checked~ul {
        display: block;
        @media (max-width: 640px) {
            transform: translateY(-10%);  
        }
    }
    & ~ ul {
        @media (max-width: 640px) { 
            transition: transform 0.5s;
            transform: translateY(-140%);
        }
    }
}
.toggle-icon {
    cursor: pointer;
    visibility: hidden;
    @media (max-width: 640px) {
        visibility: visible;
    }
}
// /toggle

// search-icon
.search-icon {
    margin: 90px 0px;
    text-align: center;
    opacity: 0.5;
    svg {
        fill: white;
        width: 28px;
        height: 28px;
    }
    @media (max-width: 640px) {
    padding: 10px 0;
    }
}
// /search-icon