@import "./global/_index.scss";
@import "./components/index";

@import "./../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./../../node_modules/@glidejs/glide/dist/css/glide.core.min";
@import "./../../node_modules/@glidejs/glide/dist/css/glide.theme.min";

* {
    box-sizing: border-box;
}

body {
    /* background: red; */
    margin: 0;
    font-family: "poppins", "Arial", sans-serif;
}